  <footer class="rodape">
    <div class="rodape-conteudo">
      <h2 class="rodape-logo">LOS CABALOS</h2>
      <nav class="rodape-nav">
        <a href="#home">Home</a>
        <a href="#cavalos">Cavalos</a>
        <a href="#sobre">Sobre</a>
        <a href="#dicas">Dicas</a>
      </nav>
      <div class="rodape-icones">
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="https://github.com" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </div>
      <p class="rodape-copyright">© 2024 JULIA TERUYA. Todos os direitos reservados.</p>
    </div>
  </footer>