<main class="pagina-cadastro">
    <div class="cadastro-imagem"></div>
  
    <div class="cadastro-formulario">
      <form class="formulario-cadastro-container">
        <div class="formulario-cadastro-titulo">
          <h1>Cadastro</h1>
        </div>
  
        <div class="formulario-cadastro-campo">
          <input type="email" placeholder="E-mail" />
        </div>
  
        <div class="formulario-cadastro-campo">
          <input type="text" placeholder="CPF" />
        </div>
  
        <div class="formulario-cadastro-campo">
          <input type="password" placeholder="Senha" />
        </div>
  
        <div class="formulario-cadastro-botao">
          <button>Cadastrar</button>
        </div>
  
        <div class="formulario-cadastro-link">
          <p>Já tem uma conta? <a (click)="login()">Clique aqui para entrar</a></p>
        </div>
      </form>
    </div>
  </main>
  