<main class="pagina-login">
    <div class="login-imagem">

    </div>

    <div class="login-formulario">
        <form class="formulario-login-container">
            <div class="formulario-login-titulo">
                <a>
                    <mat-icon>arrow_back</mat-icon>
                </a>
                <h1>Login</h1>
            </div>

            <div class="formulario-login-campo">
                <input type="text" placeholder="Usuário" />
            </div>

            <div class="formulario-login-campo">
                <input type="password" placeholder="Senha" />
            </div>

            <div class="formulario-login-botao">
                <button>Entrar</button>
            </div>

        </form>
    </div>
</main>