<main>
    <section class="primeira-secao">
        <div class="container-imagem">
            <img src=""/>
        </div>

        <div class="primeira-secao-conteudo-container">
            <div class="logo">

            </div>

            <div class="primeira-secao-conteudo">
                <div class="informacoes">
                    <h1>O MELHOR AMIGO DO HOMEM</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Proin porttitor ac nunc non congue. 
                        Vestibulum ac velit eget lacus luctus consequat id ut nunc.</p>
                </div>

                <div class="botoes">
                    <button>alooo</button>
                    <button>alooo</button>
                </div>

            </div>

        </div>

        <div class="container-imagem">
            <img src=""/>
        </div>
    </section>
</main>