<main>
    <section class="primeira-secao">
        <div class="container-imagem">
            <img src="../../../assets/images/cavalos/cavaloBranco.svg"/>
        </div>

        <div class="primeira-secao-conteudo-container">
    
            <div class="primeira-secao-conteudo">
                <div class="informacoes">
                    <h1>O MELHOR AMIGO DO HOMEM</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Proin porttitor ac nunc non congue. 
                        Vestibulum ac velit eget lacus luctus consequat id ut nunc.</p>
                </div>

                <hr/>

                <div class="botoes">
                    <button class="botao-primario">alooo</button>
                    <button class="botao-secundario">alooo</button>
                </div>

            </div>

        </div>

        <div class="container-imagem">
            <img src="../../../assets/images/cavalos/cavaloVermelho.svg"/>
        </div>
    </section>

    <section class="segunda-secao">
        <div class="segunda-secao-titulo">
            <h1>ESTÁBULO</h1>
        </div>

        <div class="segunda-secao-botao">
            <button>Filtrar
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
    </section>
    
    <section class="terceira-secao">
        <div class="terceira-secao-container">
            <app-card-cavalo></app-card-cavalo>
            <app-card-cavalo></app-card-cavalo>
            <app-card-cavalo></app-card-cavalo>
            <app-card-cavalo></app-card-cavalo>
            <app-card-cavalo></app-card-cavalo>
            <app-card-cavalo></app-card-cavalo>

        </div>
    </section>
</main>