<main class="pagina-detalhes">
<div class="detalhes-cavalo">
    <div class="imagem-cavalo">
      <img src="../../../assets/images/cavalos/black.jpg" alt="Imagem do Cavalo" />
    </div>

    <div class="info-cavalo">
    <div class="info-principal">
        <div>
        <a>
            <mat-icon>arrow_back</mat-icon>
        </a>
      <h1>Lillypad</h1>
      <a>
        <mat-icon>edit</mat-icon>
    </a>
    </div>
      <h3>Raça: <span>Puro-Sangue Inglês</span></h3>
    </div>
    <div class="descricao">
      <p>
        Este cavalo é conhecido por sua resistência e beleza. Ideal para quem procura um companheiro de trabalho ou corrida. 
        Sua pelagem única e temperamento dócil o tornam perfeito para todas as idades.
      </p>
    </div>
    <div class="info-detalhada">
      <ul>
        <li><strong>Idade:</strong> 5 anos</li>
        <li><strong>Pelagem:</strong> Castanha</li>
        <li><strong>Gênero:</strong> Macho</li>
        <li><strong>Tipo:</strong> Corrida</li>
        <li><strong>Preço:</strong> R$ 15.000,00</li>
        <li><strong>Disponível para compra:</strong> Sim</li>
      </ul>
    </div>
    <div class="acao">
      <button>Remover Cavalo</button>
    </div>
</div>
  </div>
</main>